.nav-links h2 a#projects::after {
  content: "";
  display: block;
  margin-top: 0.8rem;
  width: 90%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
}

.internal_navigation {
  width: 12%;
  height: 100vh;
  background: var(--black);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 10%;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  will-change: opacity;
}
