body {
  background: #fff;
}

.line1,
.line2 {
  background-color: #000;
}

.nav-links h2 {
  color: #000;

  font-weight: bolder;
}

#logo img {
  width: 25%;
}

main.projects {
  position: relative;
  top: 25vh;
  width: 100%;
  background-color: #fff;
  left: auto;
}

section {
  width: 85%;
}

section.project_brief {
  color: #000;
}

section.project_brief > div {
  margin: 3rem 0rem;
}

.project_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project_title h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1rem;
}

.project_desc {
  color: rgb(100, 100, 100);
  font-size: 1.5em;
  /* width: 40%; */
}
.project_display img {
  width: 100%;
}

.project_details {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* width: 95%; */
}

.column_content {
  display: flex;
  flex-direction: column;
  /* width: 30%; */
}

.column_content div {
  display: flex;
  padding: 1rem 2rem;
}

.column_content div span {
  width: 30%;
}
.column_content div span:nth-child(2) {
  /* opacity: 0.5; */
  font-weight: 900;
  width: 50%;
}
.column_content div span {
  width: 50%;
}

.seeFullWork {
  position: absolute;
  /* width: 40%; */
  top: 30%;
  right: -30%;
  height: 4rem;
  justify-content: center;
  background-color: #0f7a9c;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.seeFullWork span {
}

@media only screen and (max-width: 450px) {
  .seeFullWork {
    position: relative;
  }
}
